@{
    ViewData["PageTitle"] = "Liên hệ";
}

<div class="p-5">
    <h2 class="mb-5 text-center text-uppercase">Liên hệ</h2>
    <div class="grid">
        <div class="row p-5 border border-1 border-gray rounded">
            <div class="col-4">
                <div class="mb-3 fs-5">Thông tin liên hệ:</div>
                <div>
                    <i class="fs-5 fa fa-phone"></i>
                    <a href="tel:0123456789" class="ms-1">0123.456.789</a>
                </div>
                <div class="my-2">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:2014478@dlu.edu.vn" class="ms-1">2014478@dlu.edu.vn</a>
                </div>
                <div>
                    <i class="fs-5 fa fa-github"></i>
                    <a href="https://github.com/XPNguyenDL" target="_blank" class="ms-1">Github</a>
                </div>
                <div>
                    <i class="fa fa-credit-card"></i>
                    <a href="https://github.com/tranbaolam26902" target="_blank" class="ms-1">tranbaolam26902</a>
                </div>
            </div>
            <div class="col-8">
                <form asp-controller="Blog"
                      asp-action="Contact"
                      method="post">
                    <div class="mb-3 fs-3 text-center text-uppercase">Gửi ý kiến</div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="email" class="form-label">Email</label>
                            <span class="text-danger fst-italic fs-6">(Bắt buộc)</span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="subject" class="form-label">Chủ đề</label>
                            <span class="text-danger fst-italic fs-6">(Bắt buộc)</span>
                        </div>
                        <input type="text" class="form-control" id="subject" name="subject" required>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="content" class="form-label">Nội dung</label>
                            <span class="text-danger fst-italic fs-6">(Bắt buộc)</span>
                        </div>
                        <textarea class="form-control" name="body" id="content" rows="8" required></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary px-5 py-2">Gửi</button>
                        @if (ViewBag.Success != null)
                        {
                            <span class="text-success fst-italic fs-6">Gửi thành công</span>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d681.7835211958258!2d108.44565228640165!3d11.956223942437685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112db826dc281%3A0x7a577a72a3694368!2zS2hvYSBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbg!5e0!3m2!1svi!2s!4v1658199935564!5m2!1svi!2s"
            class="mt-5 w-100" height="512px" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>