@model IList<AuthorItem>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Tác giả nổi bật
    </h3>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item ">
                <a asp-area="" 
                   asp-controller="Blog"
                    asp-action="Author"
                    asp-route-slug="@item.UrlSlug">
                    @item.FullName
                    <span>(@item.PostCount)</span>
                </a>
            </li>
        }
    </ul>
</div>