<div class="my-4">
    <partial name="_SearchForm"/>
    <h1>
        Tìm kiếm bài viết
    </h1>

    <h1>
        Các chủ đề
    </h1>

    <h1>
        Bài viết nổi bật
    </h1>

    <h1>
        Đăng lý nhận tin mới
    </h1>

    <h1>
        Tag Cloud
    </h1>
</div>