<div class="my-4">
    <partial name="_SearchForm"/>

    @await Component.InvokeAsync("CategoriesWidget")


    @await Component.InvokeAsync("ArchivesWidget")

    <h1>
        Bài viết nổi bật
    </h1>

    <h1>
        Đăng lý nhận tin mới
    </h1>

    <h1>
        Tag Cloud
    </h1>
</div>