<div class="my-4">
    <partial name="_SearchForm"/>

    @await Component.InvokeAsync("CategoriesWidget")

    @await Component.InvokeAsync("ArchivesWidget")

    @await Component.InvokeAsync("FeaturedPostsWidget")

    @await Component.InvokeAsync("RandomPostsWidget")

    @await Component.InvokeAsync("BestAuthorsWidget")

    @await Component.InvokeAsync("TagCloudWidget")

    <h1>
        <a asp-controller="Newsletter"
           asp-action="Subscribe">
            Đăng ký nhận tin 
        </a>
    </h1>

</div>