@model IList<TagItem>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Tag Cloud
    </h3>
    @foreach (var item in Model)
    {
        <button asp-controller="Blog"
            asp-action="Tag"
            asp-route-slug="@item.UrlSlug"
            class="btn btn-outline-secondary m-1">
            @item.Name
            <span>(@item.PostCount)</span>
        </button>
    }
</div>