<div style="
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
">
    <div
          style="
            display: inline-block;
            margin: 64px auto;
            padding: 32px 32px 64px;
            width: 560px;
            /* height: 600px; */
            font-family: sans-serif;
            font-size: 16px;
            color: #121212;
            border: 1px solid gray;
            background-color: #fff;
            border-radius: 8px;
          "
        >
          <h1 style="margin-bottom: 32px; color: #8dc27d;
          text-align: center;">Tat Blog</h1>
          <p>
            <div>Chào,</div>
            <div>Bạn đã đang ký thành công nhận thông báo từ email:</div>
          </p>
          <div style="margin-bottom: 15px;">
            <div>
              Nếu bạn không phải là người thực hiện hành động này hoặc hủy đăng ký: {link}
            </div>
          </div>
            <div style="margin-bottom: 2px">Đội ngũ phát triển</div>
            <div style="margin-bottom: 4px; font-weight: bold; color: #8dc27d">
              DLU CONFESSION
            </div>
          <div>
            <hr />
            <div style="color: #888">
              <i
                >Đây là email được gửi tự động, vui lòng không phản hồi lại email
                này.</i
              >
            </div>
            <div style="color: #888">
              <i
                >Nếu bạn cần trợ giúp, vui lòng liên lạc với chúng tôi qua email:
              </i>
              <span style="font-style: italic; font-weight: bold;"
                >contact.dluconfession@gmail.com</span
              >
            </div>
          </div>
    </div>
</div>
